.header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    background-color: white;
  }

  .logo-container {
    padding-left: 24px;
    display: flex;
    align-items: center;
  }

  .logo-img {
    height: 75px;
    width: auto;
    object-fit: contain;
  }
  
  .logo-text {
    margin-left: 32px;
    color: black;
    font-size: 18px;
  }

  .link-text {
    color: gray;
    font-weight: 500;
    transition: color 0.15s;
  }

  .link-text:hover {
    color: black;
  }

  .home-link,
  .compare-link,
  .players-link,
  .rankings-link,
  .logo-link {
    text-decoration: none;
  }

  .compare-link.active .link-text,
  .home-link.active .link-text,
  .players-link.active .link-text,
  .rankings-link.active .link-text {
    font-size: 18px;
    color: black;
    font-weight: bold;
    border-bottom: 4px solid #D4AF37; 
    padding-bottom: 4px; 
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-left: 128px;
    margin-right: 48px;
  }
  
  .compare-link,
  .players-link,
  .rankings-link,
  .home-link {
    position: relative;
    display: inline-block;
  }
  
  .compare-link .nav-icon,
  .players-link .nav-icon,
  .rankings-link .nav-icon,
  .home-link .nav-icon {
    transition: opacity 0.2s ease;
  }
  
  /* Label text appears on hover */
  .compare-link::after,
  .players-link::after,
  .rankings-link::after,
  .home-link::after {
    content: '';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  

  .hamburger-icon,
  .close-icon {
    display: none;
  }
  
  @media (max-width: 768px) {
    .logo-text {
      font-size: 24px;
    }
    .nav {
      display: none;
    }
  
    .hamburger-icon {
      display: block;
      margin-right: 48px;
      cursor: pointer;
    }
  
    .mobile-show {
      position: absolute;
      position: fixed;
      top: 150px;
      left: 0;
      right: 0;
      background-color: white;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding: 24px 0;
      display: flex;
      z-index: 99;
    }
  
    .mobile-show .nav-icon {
      font-size: 28px;
    }
  
    .close-icon {
      display: block;
      position: absolute;
      top: 16px;
      right: 48px;
      cursor: pointer;
    }
  
    .compare-link::after,
    .players-link::after,
    .rankings-link::after,
    .home-link::after {
      display: none;
    }
  }
  