
  
  .player-section {
    display: flex;
    border-radius: 12px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
  }
  
  .leaderboard-left-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player-leaderboard-rank {
    font-weight: bold;
    font-size: 18px;
    margin-right: 24px;
    margin-left: 12px;
  }
  
  .player-leaderboard-img {
    width: 48px;
  }
  
  .name-nation-container {
    line-height: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .player-leaderboard-name {
    display: block;
    margin-left: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .player-leaderboard-name:hover {
    transform: translateY(-2px);
  }
  
  .leaderboard-nation-and-league {
    display: flex;
    align-items: center;
  }
  
  .leaderboard-flag-img {
    width: 14px;
    margin-left: 18px;
    margin-right: 6px;
  }
  
  .leaderboard-nation {
    font-size: 13px;
    color: gray;
    font-weight: bold;
  }
  
  .leaderboard-league {
    width: 18px;
    margin-left: 18px;
  }
  
  .stat-value {
    margin-right: 12px;
    font-weight: 500;
  }
  
  .show-more-button-rankings {
    color: white;
    background-color: #044b3a;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 100px;
    margin-top: 32px;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .leaderboard-container {
      width: calc(100% - 64px);
    }
  
    .rankings-header {
      margin-left: 8px;
    }
  
    .select-label {
      margin-left: 16px;
    }
  
    .player-section {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 16px;
      width: 300px;
      gap: 12px;
    }
  
    .leaderboard-left-section {
      flex-direction: row;
      align-items: center;
    }
  
    .name-nation-container {
      margin-left: 12px;
    }
  
    .player-leaderboard-rank {
      margin-left: 0;
      margin-right: 12px;
      font-size: 12px;
    }
  
    .player-leaderboard-name {
      font-size: 12px;
    }
  
    .search-input {
      width: 170px;
      margin-right: 0;
      font-size: 10px;
    }
  
    .rankings-page-top {
      margin-left: 16px;
      margin-bottom: 16px;
    }
  
    .select {
      width: 164px;
    }
  }
  