.players-page-top {
    margin-left: 64px;
    margin-bottom: 32px;
  }

.heading-search {
  font-weight: 500;
  margin-left: 64px;
}
  
  .selects-container {
    margin-top: 32px;
  }
  .search-button {
    width: 60px;
    height: 60px;
    background-color: #044b3a;
    border: none;
  }
  
  .select {
    margin-left: 4px;
    padding: 8px;
    font-family: "Inter";
    font-size: 15.5px;
    margin-right: 24px;
  }
  
  .select:focus {
    outline: none;
  }
  
  .players-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
    padding: 1rem;
  }
  
  .error-msg-players {
    width: 500px;
    margin-left: 100px;
  }

  .show-more-button {
    color: white;
    background-color: #044b3a;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 24px;
    cursor: pointer;
  }

  .player {
    position: relative;
    border: 1.5px solid hsl(0, 0%, 60%);
    border-radius: 12px;
    width: 225px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-bottom: 34px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .player:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .player-img {
    width: 255px;
    height: 300px;
    object-fit: cover;
  }
  
  .player-name {
    margin-top: 1px;
    color: black;
    font-weight: bold;
    line-height: 20px;
  }
  
  .player-league {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
  }
  
  .bottom {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
  }
  
  .left-section {
    line-height: 6px;
  }
  
  .nation-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    margin-top: -16px;
  }
  
  .player-nation-img {
    width: 24px;
    margin-right: 8px;
  }
  
  .player-nation {
    font-size: 13px;
    color: gray;
    font-weight: bold;
  }
  
  .player-arrow {
    transition: transform 0.2s ease;
  }
  
  .player:hover .player-arrow {
    transform: translateX(4px);
  }
  
 

  @media (max-width: 600px) {

    .players-container {
      grid-template-columns: repeat(1, 1fr); /* Or 1 for stacked */
    }

    .players-page-top {
      margin-bottom: 16px;
    }

   .selects-container {
    margin-top: 16px;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 6px;
   }
   .select {
    width: 70px;
   }
  }

  